body {color:#DDD; background: #996;}
b {font-weight: 800;}
p {margin:15px 0;}
h1 {display:block; margin:0;}
h2 {font-size: 2.5em;}
h3 {font-size: 1.3em;}
h1, h2, h3, h4, h5, h6 {color:#021;}

div.alert {box-shadow: 0 10px 30px #663;}

.container { width: 500px; margin:10px auto; }
.footer {position: absolute; display:none;}

input[type=text],
input[type=password],
select,
button { padding: 10px 10px; font-size: 1.2em; display:inline-block; margin:4px 0; height: 21px;
         box-shadow: 0 2px 4px #576; border-radius:5px; border:1px solid #576;
         vertical-align: top; background-image: linear-gradient(to top, #DEF, #FFF);}
button { padding: 8px 14px; margin:5px 0 0 8px !important; height: 42px; cursor: pointer;}
select { height: 43px;}

button:hover,
button:active,
button.active {background-image: linear-gradient(to top, #996, #CC9); color:#FFF; box-shadow: 0 0 8px #354;}

input[type=checkbox] {width: 20px; vertical-align: middle;}

.login {position:fixed; top:50%; left:50%; width:334px; margin:-150px 0 0 -170px; color:#000;}
.login h1 b {position:absolute; margin:-10px 0 0 -90px; float: left; font-size: 1.5em; color:#CC9;
             text-shadow: 5px 3px 10px #332;}
.login h1 {padding-left: 80px; margin: 0 0 10px 0;color:#996; text-shadow: 0px 1px 2px #332; font-size: 6em;}

.login #login,
.login #password {width: 243px;}
.login #go,
.login #cadastro { width: 60px; padding: 5px 0;}

.links {display:block;}
.links span {display:block; padding:3px 0 0 5px; font-size: .95em;}
.links img { width: 32px; margin:0 5px 0 0; border-radius:50%; box-shadow: 0 1px 1px #576; cursor:pointer;}
.links img:hover,
.links img:active { background-color: #FFF;}

.help li {display:list-item; padding:1px 0; cursor: pointer; color:#354;}
.help li:hover {text-decoration: underline;}

.key {padding: 10px; margin:10px 0; border:1px solid #774; word-break: break-all;}
.key img {width: 32px; float: right; margin:-8px 0 5px 0;}